@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color-fondo: #E5E5E5;
    --color-azul-oscuro: #0A3871;
    --color-blanco: #FFFFFF;
    --clor-gris-400: #495057;
    --color-gris-500: #343A40;
    --fuente-inter: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

body{
    background-color: var(--color-fondo);
    box-sizing: content-box;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
}

.encriptar{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 95vh;
    align-items: center;
    gap: 2rem;
}

.encriptar_imagen{
    width: 1.8rem;
    height: 2.8rem;
}

.encriptar_input{
    width: 42.5rem;
    height: 18rem;
    background-color: var(--color-fondo);
    font-family: var(--fuente-inter);
    color: var(--color-azul-oscuro);
    font-weight: 400;
    font-size: 2rem;
    border: none;
}

.encriptar_input:focus{
    outline: none;
}

.encriptar_input::placeholder{
    font-family: var(--fuente-inter);
    color: var(--color-azul-oscuro);
    font-size: 2rem;
}

.encriptar_informacion{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--clor-gris-400);
}

.mostrar_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    background-color: var(--color-blanco);
    border-radius: 2rem;
}

.mostrar_texto_mensaje_negativa{
    font-family: var(--fuente-inter);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-gris-500);
}

.mostrar_texto_parrafo{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 1rem;
    color: var(--clor-gris-400);
}